
body {
     background-color:#b0ea90;
     font-family: Arial, Helvetica, sans-serif;
     }
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(228, 104, 154);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(44, 187, 235);
  background-color: transparent;
  text-decoration: underline;
}

.card {
    color: rgb(53, 11, 239);
}

.love {
    background-color: darkgreen;
}

.fart {
    font-size: larger;
}